
html, body{
    margin:0;
    padding:0;
    min-width: 1140px; /* this is the important part*/
    background-color:#dbdbdb;
}

/* Style the header with a grey background and some padding */
.header {
    overflow: hidden;
    background-color: #dbdbdb;
    padding: 20px 10px;
    height:10%;
  }

.header #myLogo{
  height:100%;
}
  
  /* Style the header links */
  .header a {
    float: left;
    color: black;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 20px;
    border-radius: 4px;
  }
  
  /* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
  .header a.logo {
    font-size: 25px;
    font-weight: bold;
  }
  
  /* Change the background color on mouse-over */
  .header a:hover {
    background-color: #c5c5c5;
    color: black;
  }
  
  /* Style the active/current link*/
  .header a.active {
    background-color: #1e90ff;
    color: white;
  }
  
  /* Float the link section to the right */
  .header-right {
    float: right;
  }

  .header-right a{
    margin-left:4px;
  }
  
  /* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
  @media screen and (max-width: 500px) {
    .header a {
      float: none;
      display: block;
      text-align: left;
    }
    .header-right {
      float: none;
    }
  }

  .sidebar{
    overflow-y: visible;
    float: left;
    width: 12%;
    height: 50vh;
    border-radius: 5px;
    margin: 5px;
    padding:3px;
    background-color: #82c0ff;
    position:sticky;
    top:5px;
  }

  h1{
    font-size: 100px;
  }

  #contactTest{
    margin-left: 14%;
  }