

button {
  border: 3px solid #44B4DA;
  border-radius: 1rem;
  padding: .7rem;
  background: #02c352;
  font-size: 1rem;
  cursor: pointer;
  margin: 0 0 1.5rem 2.5rem;
}
button:hover {
  background: #44B4DA;
  border-color: #02c352;
  color: white;
}

#human-code {
  color: #acacac;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

#ai-code {
  color: #acacac;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 1.5rem;
}

.code-keyword-atribute{
  color: #9b0a00;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;
  margin-left: 2rem;

}

.code-keyword-obj{
  color: #9b0a00;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;

}

.code-keyword-string{
  color: #68c770;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;

}

.code-keyword-var{
  color: #8124be;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1.3rem;
  font-weight: 400;

}

